* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#ec94d6, #7eb0eb);
    text-align: center;
}

.widget-wrap {
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255, .4)    
}

#code-boxx {
    font-weight: 600;
    margin-top: 30px;
}

#code-boxx a {
    display: inline-block;
    border: 0;
    padding: 5px;
    background: #b90a0a;
    color: #fff;
    text-decoration: none;
}

#quizWrap {
    max-width: 600px;
    margin: 0 auto;
    height: 250px;
}

#quizQn {
    font-size: 24px;
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    border-radius: 10px;
}

#quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#quizAns input[type="radio"] {
    display: none;
}

#quizAns label {
    padding: 10px;
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #60a03f;
}

#quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
}